a {
    text-decoration: none;
    color: black;
    margin: 30px;
}
button {
    padding: 10px 15px;
}
.active {
    color: coral;
}

.login {
    margin: 100px;
}

.user {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}